%div{:class => 'ui modal category new', :data => { :url => new_category_path } }
  = icon :close

  %div.header= title

  %div.content
    = render '/web/categories/shared/form'

  %div.actions
    %div{:class => 'ui cansel deny button'}= t 'actions.common.cansel'
    %div{:class => 'ui approve positive button'}= t 'actions.common.save'
